[core]
        editor = emacs -nw -Q --eval '(column-number-mode t)'
[pager]
        status
[color]
        ui = true
[log]
        decorate
[diff]
        ## TODO Consider [not splitting multi-byte UTF-8 characters](https://github.com/git/git/blob/v2.15.1/userdiff.c#L12).
        wordRegex = [[:alnum:]_-]+|[^[:space:]]
[grep]
        lineNumber
[commit]
        cleanup = scissors
[alias]
        s   = status -uno
        su  = status -u
        sui = status -u --ignored
        b  = branch --list -v
        ba = branch --list -v -a
        tl  = tag -l
        tlr = ls-remote --tags
        lo  = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(dim)(%cr) %C(bold)%s%C(reset) %C(dim)<%an>%C(reset)'
        l   = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(bold)%s%C(reset) %C(dim)(%cr) %C(dim)<%an>%C(reset)%+b%+N'
        ll  = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(bold)%s%C(reset) %C(dim)(%cr) %C(dim)<%an>%C(reset)%+b%+N' -M --find-copies-harder --stat
        llf = log --graph --pretty=fuller -M --find-copies-harder --stat
        lp  = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(bold)%s%C(reset) %C(dim)(%cr) %C(dim)<%an>%C(reset)%+b%+N' -M --find-copies-harder --stat -p
        lw  = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(bold)%s%C(reset) %C(dim)(%cr) %C(dim)<%an>%C(reset)%+b%+N' -M --find-copies-harder --stat -p -w
        lwc = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(bold)%s%C(reset) %C(dim)(%cr) %C(dim)<%an>%C(reset)%+b%+N' -M --find-copies-harder --stat -p -w --color-words
        lc  = log --graph --pretty='%C(yellow)%h%C(reset) -%C(green)%d%C(reset) %C(bold)%s%C(reset) %C(dim)(%cr) %C(dim)<%an>%C(reset)%+b%+N' -M --find-copies-harder --stat -p -w --color-words
        g = grep
        d   = diff
        dw  = diff -w
        dwc = diff -w --color-words
        dc  = diff --cached -M
        f      = fetch
        fghprs = "!f() { git fetch \"${1:-upstream}\" +refs/pull/*/head:refs/remotes/\"${1:-upstream}\"/pull/*; }; f"
        bd = branch -d
        td = tag -d
        t  = tag ## [Lightweight tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_lightweight_tags)
        ta = tag -a ## [Annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags)
        co = checkout
        a = add
        ci    = commit
        wip   = commit -a -m wip
        amend = commit --amend
        rb  = rebase
        rbi = rebase -i
        rbc = rebase --continue
        rbs = rebase --skip
        rba = rebase --abort
        cp  = cherry-pick
        cpc = cherry-pick --continue
        cpa = cherry-pick --abort
        purge = clean -d -x

[include]
        path = ~/.gitconfig_local
